<div class="menu" id="Inicio">
    <div class="menuContent">
        <p class="AngularDescripcion" >
            <span>Angular</span> (comúnmente llamado Angular 2+ o Angular 2) es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el desarrollo y las pruebas sean más fáciles. 
            <br>
            La biblioteca lee el HTML que contiene atributos de las etiquetas personalizadas adicionales, entonces obedece a las directivas de los atributos personalizados, y une las piezas de entrada o salida de la página a un modelo representado por las variables estándar de JavaScript. <br>
            <br>
            Angular se basa en clases tipo "Componentes", cuyas propiedades son las usadas para hacer el binding de los datos. En dichas clases tenemos propiedades (variables) y métodos (funciones a llamar). <br>
            <br>
            Angular es la evolución de AngularJS aunque incompatible con su predecesor.
        </p>
        <div>
            <div>
                <h3>
                    Principales características de Angular
                </h3>
                <span id="Rendimiento">Velocidad y rendimiento</span> <hr>
                <p>
                    <span>Generación de código:</span> Angular convierte tus plantillas en código altamente optimizado para las máquinas virtuales de JavaScript de hoy en día, ofreciéndote todas las ventajas del código escrito a mano con la productividad de un framework. <br>
                    <span>Universal:</span> Ejecuta la primera vista de tu aplicación en node.js, .NET, PHP, y otros servidores para renderizado de forma casi instantánea obteniendo solo HTML y CSS. También abre posibilidades para la optimización del SEO del sitio, incluyendo configuración. <br>
                    <span>División del código:</span> Las aplicaciones de Angular se cargan rápidamente gracias al nuevo enrutador de componentes. Este ofrece una división automática de códigos para que los usuarios solo carguen el código necesario para procesar la vista que solicitan.
                </p>
                <h3 id="Productividad">
                    Productividad
                    <hr>
                </h3>
                <p>
                    
                    <span>Plantillas:</span> Permite crear rápidamente vistas de interfaz de usuario con una sintaxis de plantilla simple y potente. <br>
                    <span>Angular CLI:</span> Las herramientas de línea de comandos permiten empezar a desarrollar rápidamente, añadir componentes y realizar test, así como previsualizar de forma instantánea la aplicación. <br>
                    <span>IDEs:</span> Obtén sugerencias de código inteligente, detección de errores y otros comentarios en la mayoría de los editores populares e IDEs.
                </p>
                <h3 id="historia">
                    Historia completa del desarrollo
                    <hr>
                </h3>
                <p>
                    <span>Testing:</span> Utiliza Karma para realizar pruebas unitarias, y Protractor para realizar pruebas end-to-end de forma rápida ,estable y eficaz. <br>
                    <span>Animación:</span> Permite crear animaciones complejas y de alto rendimiento con muy poco código a través de la intuitiva API de Angular. <br>
                    <span>Accesibilidad:</span> Posee características para crear aplicaciones accesibles con los componentes disponibles para ARIA.
                </p>
            </div>
        </div>    
    </div>
</div>
