.menu{ 
    position: absolute;
    top: 15vh;
    left: 20vw;
    width: 70vw;  
}

h3{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
span{
    color: rgb(24, 157, 235);
    font-size: 1.5rem;
}

.menuContent{
    background-color: #334;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 10vh;
}
