<h2 class="titulo m-5">
    Lista de alumnos
</h2>
<table class="table m-5 w-75"> 
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">nombre</th>
            <th scope="col">edad</th>
            <th scope="col">curso</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of alumnos">
            <th scope="row">
                {{alumno.id}}
            </th>
            <td *ngIf="alumno['nombre']; else indefinido" scope="row"> 
                {{alumno['nombre']}}             
            </td>
            <td *ngIf="alumno['edad']; else indefinido" [ngClass]="alumno['edad'] < 18 ? 'menor' : 'mayor'" class="table-default">
                {{alumno['edad']}}
            </td>
            <td *ngIf="alumno['curso']; else indefinido" class="table-default">
                {{alumno['curso'] | uppercase}}
            </td>
                <ng-template #indefinido>
                    <td class="table-danger">
                        Sin definir 
                    </td>
            </ng-template>
        </tr>
    </tbody>
</table>
