.titulo{
    padding: 10px;
    font-family: monospace;
}
th{
    font-family: monospace;
    border: 2px solid black;
}
td{
    font-family: monospace;
    border: 2px solid black;
}
td{
    font-size: 1.2rem;
    border: 2px solid black;
}

.menor{
    background-color: rgb(229, 255, 0);
}
.mayor{
    background-color: rgb(13, 200, 13);
}
table{
    border: 2px solid black;
}